@charset "utf-8";

/* 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
  --main-color: #FF6557;
  --main-gray: #5a5a5a;
  --main-black: #1a1a1a;
  --main-white: #f2f2f2;
  --main-blue: #001C3D;
}

* {
  box-sizing: border-box;
}

body.rock {
  overflow: hidden;
}

.inner {
  width: 100%;
  padding: 0 160px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

h2 {
  color: var(--main-black);
  text-align: center;
  font-family: "Roboto Serif";
  font-size: 84px;
  font-weight: 500;
  line-height: 1;
  padding: 24px 0;
}

header .fix {
  width: 100%;
  height: 100vh;
  position: fixed;
  right: -100%;
  top: 0;
  display: flex;
  transition: .6s;
  background: var(--main-color);
}

header.on .fix {
  right: 0;
}

header .fix .img_box {
  flex: 1;
  background: url(../img/main/) center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

header .fix .gnb {
  flex: 1;
  background: var(--main-color);
  color: var(--main-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

header .fix .gnb>ul {
  width: 80%;
  height: 80%;
  flex-direction: column;
}

header .fix .gnb>ul>li {
  flex: 1;
  align-content: center;
  transform: translateY(100px);
  transition: 1s;
}

header.on .fix .gnb>ul>li {
  transform: translateY(0);
}

header .fix .gnb>ul>li>a {
  font-size: 5rem;
  font-family: var(--Roboto-serif);
}

header .fix .gnb>ul>li>ul.sub {
  font-size: 1.2rem;
  font-weight: 200;
  margin-block-start: 20px;
}

header .fix .gnb>ul>li>ul.sub li {
  border-right: 1px solid var(--w-color);
  padding-inline: 1rem;
}

header .fix .gnb>ul>li>ul.sub li:last-child {
  border-right: 0;
  padding-inline-end: 0;
}



header .inner {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background: rgba(26, 26, 26, 0.3);
}

.inner h1 img {
  display: flex;
  width: 164px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.inner nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inner nav ul {
  display: flex;
  align-items: center;
  gap: 96px;
}

.inner nav ul li {
  color: var(--main-white);
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.inner .ham {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.inner .ham ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inner .ham ul li {
  width: 36px;
  height: 2px;
  background: var(--main-white);
  border-radius: 2px;
}