@charset "utf-8";

/* 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
  --main-color: #FF6557;
  --main-gray: #5a5a5a;
  --main-black: #1a1a1a;
  --main-white: #f2f2f2;
  --main-blue: #001C3D;
}

* {
  box-sizing: border-box;
}

body.rock {
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}

.inner {
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
}

header {
  width: 100%;
  background: rgba(25, 25, 25, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  transition: .3s;
  z-index: 10;
}

header.hide {
  transform: translateY(-100%);
  /* 사라지는 기능 복구 */
}

header.on {
  background-color: rgba(0, 0, 0, 0.830);
  height: 100%;
  backdrop-filter: blur(25px);
}

header .inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

header .inner h1 {
  width: 100%;
  max-width: 100px;
  display: flex;
}

header .inner h1 img {
  width: 100%;
  max-width: 100px;
}

header .inner nav {
  max-width: 1600px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

header.on nav {
  display: none;
}

header nav ul.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul.gnb>li {
  position: relative;
}

header .right {
  display: flex;
  gap: 8px;
}

header .right ul {
  width: 40px;
  height: 40px;
  padding: 11px 0;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

header .right ul li {
  width: 23px;
  height: 2px;
  background-color: #000;
  transition: transform .6s;
}

header.on .right ul li:nth-child(1) {
  position: absolute;
  left: 22%;
  top: 50%;
  margin-top: -1px;
  background: var(--gray-05);
  transform: rotate(45deg);
}

header.on .right ul li:nth-child(2) {
  display: none;
}

header.on .right ul li:nth-child(3) {
  position: absolute;
  right: 22%;
  top: 50%;
  margin-top: -1px;
  background: var(--gray-05);
  transform: rotate(-45deg);
}

header .ham_menu {
  display: none;
  width: 100%;
}

header.on .ham_menu {
  display: flex;
  flex: 1;
}

header .all_con {
  width: 100%;
  color: var(--main-black);
}

header .all_con ul.list {
  display: flex;
}

header .all_con ul.list>li {
  width: 25%;
  border-right: 1px solid #1a1a1a;
  padding: 0 2em 0 1em;
  margin: 1.5em 0;
}

header .all_con ul.list>li:last-child {
  border-right: 0;
}

header .all_con ul.list>li button {
  background: transparent;
  border: none;
  font-size: 26px;
  color: var(--gray-00);
  text-align: left;
  display: flex;
  padding: 0;
  font-weight: 500;
  cursor: pointer;
}

header .all_con ul.list>li ul {
  margin-top: 2em;
  line-height: 2.4;
  font-size: 16px;
}