@charset "utf-8";

/* 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
  --main-color: #FF6557;
  --main-gray: #5a5a5a;
  --main-black: #1a1a1a;
  --main-white: #f2f2f2;
  --main-blue: #001C3D;
}

* {
  box-sizing: border-box;
}

body.rock {
  overflow: hidden;
}

.inner {
  width: 95%;
  max-width: 1700px;
  margin-inline: auto;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

header.sc {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
  color: var(--main-black);
}

header .fix {
  width: 100%;
  height: 100vh;
  position: fixed;
  right: -100%;
  top: 0;
  display: flex;
  transition: .6s;
  background: var(--main-color);
}

header.on .fix {
  right: 0;
}

header .fix .img_box {
  flex: 1;
  background: url(.img/main/fix_imgbox.jpg) center/cover;
  font-size: 2rem;
  color: var(--main-yellow-l);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}


header .fix .gnb {
  flex: 1;
  background: var(--main-color);
  color: var(--w---main-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

header .fix .gnb>ul {
  width: 80%;
  height: 80%;
  flex-direction: column;
}

header .fix .gnb>ul>li {
  flex: 1;
  align-content: center;
  transform: translateY(100px);
  transition: 1.0s;
  /* transition-delay: 0.2s; */
}

header.on .fix .gnb>ul>li {
  transform: translateY(0);
}

header .fix .gnb>ul>li>a {
  font-size: 5rem;
  font-family: var(--Roboto-serif);
}

header .fix .gnb>ul>li>ul.sub {
  font-size: 1.2rem;
  font-weight: 200;
  margin-block-start: 20px;
}

header .fix .gnb>ul>li>ul.sub li {
  border-right: 1px solid var(--main-white);
  padding-inline: 1rem;
}

header .fix .gnb>ul>li>ul.sub li:last-child {
  border-right: 0;
  padding-inline-end: 0;
}

header .inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-white);
}

header h1 img {
  width: 100px;
}



header ul {
  display: flex;
}

nav {
  width: 850px;
  font-size: 1.2rem;
}

header.on h1,
header.on nav,
header.sc nav {
  display: none;
}

nav ul li {
  flex: 1;
  text-align: center;
}

.ham {
  width: 40px;
  height: 40px;
  position: relative;
  transition: .6s;
  cursor: pointer;
  border-radius: 50%;
}

header.on .ham {
  border: 1px solid var(--main-white);
  margin-left: auto;
}

.ham ul {
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-39%, -39%);
}

.ham ul li {
  width: 100%;
  height: 1px;
  background: var(--main-white);
  transform-origin: left top;
  transition: .6s;
}

header.on .ham ul li {
  transform: rotate(45deg);
}

header.on .ham ul li:nth-child(2) {
  display: none;
}

header.on .ham ul li:nth-child(3) {
  transform: rotate(-45deg);
}